<!-- Slider principal -->
<section class="bg-success text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div>
        <h1>
          Você tem o poder da mudança,
          <span class="text-light">doe agora</span> e salve vidas.
        </h1>
        <p class="lead my-4">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint
          consectetur dolor, explicabo sequi similique soluta labore.
        </p>
        <button class="btn btn-warning btn-md">Quero doar</button>
      </div>
      <img class="img-fluid w-50 d-none d-sm-block" src="assets/images/banner.png" alt="" />
    </div>
  </div>
</section>

<!-- Learn Sections -->
<section id="learn" class="p-5">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md">
        <img src="assets/images/person1.png" class="img-fluid" alt="" />
      </div>
      <div class="col-md p-5">
        <h2>Agende suas doações agora mesmo</h2>
        <p class="lead">
          Cadastre sua instituição e comece receber doações
        </p>
        <p>
          Se você é uma instituição e necessita de doações, cadastre sua instituição para que possa criar campanhas com
          o que precisando.
        </p>
        <a href="/cadastro" class="btn btn-warning mt-3">
          <i class="bi bi-chevron-right"></i> Clique aqui
        </a>
      </div>
    </div>
  </div>
</section>

<section id="learn" class="p-5 bg-dark text-light">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md p-5">
        <h2>Bem Vindos a Fusion Corporation</h2>
        <p class="lead">
          Apresentamos a voçê o resultado de um trabalho que é motivo de orgulho
          para todos nós. Este site é fruto de valores como respeito e confiança no ser humano,
          ética, tranparência e um profundo envolvimento com a causa social.
        </p>

        <a href="/" class="btn btn-light mt-3">
          <i class="bi bi-chevron-right"></i> clique aqui
        </a>
      </div>
      <div class="col-md">
        <img src="assets/images/person2.png" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
</section>

<!-- Campanhas -->
<section class="p-5">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <img src="assets/images/campanha1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Lar dos vicentinos</h5>
            <p class="card-text">Estamos precisando de produtos de higiene com urgência... </p>
            <a href="#" class="btn btn-success">Saiba mais</a>
          </div>
          <div class="card-footer border-success">
            <div class="row">
              <h6>Progresso da camapanha</h6>
              <div class="col-8">
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 95%;" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100">95%</div>
                </div>
              </div>
              <div class="col-4">
                <div class="heart">
                  <div class="animation-heart">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <img src="assets/images/campanha1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Lar dos vicentinos</h5>
            <p class="card-text">Estamos precisando de produtos de higiene com urgência... </p>
            <a href="#" class="btn btn-success">Saiba mais</a>
          </div>
          <div class="card-footer border-success">
            <div class="row">
              <h6>Progresso da camapanha</h6>
              <div class="col-8">
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 90%;" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100">90%</div>
                </div>
              </div>
              <div class="col-4">
                <div class="heart">
                  <div class="animation-heart">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <img src="assets/images/campanha1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Lar dos vicentinos</h5>
            <p class="card-text">Estamos precisando de produtos de higiene com urgência... </p>
            <a href="#" class="btn btn-success">Saiba mais</a>
          </div>
          <div class="card-footer border-success">
            <div class="row">
              <h6>Progresso da camapanha</h6>
              <div class="col-8">
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 75%;" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100">75%</div>
                </div>
              </div>
              <div class="col-4">
                <div class="heart">
                  <div class="animation-heart">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm mt-2">
        <div class="card" style="width: 18rem;">
          <img src="assets/images/campanha1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Lar dos vicentinos</h5>
            <p class="card-text">Estamos precisando de produtos de higiene com urgência... </p>
            <a href="#" class="btn btn-success">Saiba mais</a>
          </div>
          <div class="card-footer border-success">
            <div class="row">
              <h6>Progresso da camapanha</h6>
              <div class="col-8">
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 26%;" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100">26%</div>
                </div>
              </div>
              <div class="col-4">
                <div class="heart">
                  <div class="animation-heart">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm mt-2">
        <div class="card" style="width: 18rem;">
          <img src="assets/images/campanha1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Lar dos vicentinos</h5>
            <p class="card-text">Estamos precisando de produtos de higiene com urgência... </p>
            <a href="#" class="btn btn-success">Saiba mais</a>
          </div>
          <div class="card-footer border-success">
            <div class="row">
              <h6>Progresso da camapanha</h6>
              <div class="col-8">
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 45%;" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100">45%</div>
                </div>
              </div>
              <div class="col-4">
                <div class="heart">
                  <div class="animation-heart">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm mt-2">
        <div class="card" style="width: 18rem;">
          <img src="assets/images/campanha1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Lar dos vicentinos</h5>
            <p class="card-text">Estamos precisando de produtos de higiene com urgência... </p>
            <a href="#" class="btn btn-success">Saiba mais</a>
          </div>
          <div class="card-footer border-success">
            <div class="row">
              <h6>Progresso da camapanha</h6>
              <div class="col-8">
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 60%;" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100">60%</div>
                </div>
              </div>
              <div class="col-4">
                <div class="heart">
                  <div class="animation-heart">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<!-- Newsletter -->
<section class="bg-secondary text-light p-5">
  <div class="container">
    <div class="d-md-flex justify-content-between align-items-center">
      <h3 class="mb-3 mb-md-0">Quer receber campanhas por email?</h3>

      <div class="input-group news__input">
        <input type="text" class="form-control" placeholder="Insira seu email" aria-label="Insira seu email"
          aria-describedby="button-addon2" />
        <button class="btn btn-warning" type="button" id="button-addon2">
          Botão
        </button>
      </div>
    </div>
  </div>
</section>